body{
    padding: 50px;
    background: url('./img/bg.png');
}
.container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #723030;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn{
    background-color: #723030;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}